<div class="leftContainer">
    <div class="heading">{{data['advisoryCompanyName']}}</div>
    <div class="preserveFormat">{{data['address']}}</div>
    <div>{{data['contactNo']}}</div>
    <div>{{data['email']}}</div>
</div>

<div class="rightContainer alignRight">
    <div class="heading">{{data['invoiceHeading']}}</div>
    <div>{{data['date']}}</div>
    <div>{{data['invoiceID']}}</div>
    <div>{{data['poNumber']}}</div>
    <div class="highlight">{{data['clientName']}}</div>
    <div class="highlight">{{data['clientCompanyName']}}</div>
</div>
