<table class="itemTable w-100">
    <thead class="highlight">
      <tr>
        <th class="alignLeft">#</th>
        <th class="alignCenter">Item Description</th>
        <th class="alignCenter">Quantity</th>
        <th class="alignCenter">{{data['unitPriceName']}}</th>
        <th class="alignRight">Line Total</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data['items'] %}
          <tr>
              <td class="alignLeft">{{loop.index}}</td>
              <td class="alignCenter">{{item['description']}}</td>
              <td class="alignCenter">{{item['quantity']}}</td>
              <td class="alignCenter">{{item['unitPrice']}}</td>
              <td class="alignRight">{{data['currencySymbol']}} {{item['lineTotal']}}</td>  
          </tr>
      {% endfor %}
    </tbody>
    <tfoot class="itemsTotal highlight">
      <tr>
        <td  colspan="4"><b>{{data['subTotalName']}}</b></td>
        <td class="alignRight"><b>{{data['currencySymbol']}} {{data['subTotal']}}</b></td>
      </tr>
    </tfoot>
  </table>
